version: '3.9'

services:
  flaskapp:
    build: .
    container_name: bromine_flask_app
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=production
    restart: unless-stopped