    body {
      margin: 0;
      padding: 0;
      font-family: "Oswald", sans-serif;
      background-image: url("/static/images/img1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      min-height: 100vh;
      background-attachment: fixed;
    }
    .btn-logout {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        padding: 5px 0 5px 0;
        margin-left: auto;
        margin-right: auto;
    }

    /* load screen*/
     #loading-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* dim background */
    z-index: 9999; /* make sure it's on top */
  }

  .loading-spinner {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    text-align: center;
  }

  .spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 0 auto 10px auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
    
   /* Title */
    .title{
        color: white;
        text-shadow: 2px 5px 12px 12px white;
        font-size: 2.3rem;
        margin: 0px 10px 0 0;
        max-width: 100%;      
    }
    @media (max-width: 1450px) {
      .title {
        font-size: 2rem;
        text-align: center;
      }
    }
    @media (max-width: 1250px) {
      .title {
        font-size: 1.8rem;
        text-align: center;
      }
    }
    @media (max-width: 1050px) {
      .title {
        font-size: 1.7rem;
        text-align: center;
      }
    }
    @media (max-width: 768px) {
    .title {
        font-size: 1.6rem;
          text-align: center;
          text-wrap: balance;
        }
    }
    @media (max-width: 576px) {
    .title {
        font-size: 1.3rem;
          text-align: center;
          text-wrap: balance;
        }
    }
    .title_home {
      outline: none; 
      border: none; 
      text-decoration: none;
    }

    /* page */
    .entire {
      display: flex;
      width: 100%;
    }
    .input-section,
    .output-section {
      padding: 15px 20px 15px 20px; 
      box-sizing: border-box;
    }
    .input-section {
        width: 550px;
        background: transparent;
        border-radius: 20px;
        margin: 0 0 15px 0;
    }
    .output-section {
        width: 100%;
        height: 100%;
        background: none;
        background: linear-gradient(to bottom, #ffff99 0%, #ffff66 100%);
        border: none;
        border-radius: 20px;
        margin: 15px 20px 15px 10px;
        padding: 20px 40px 20px 40px;
        overflow-y: auto;
    }
    .modal{
      --bs-modal-width: 370px !important;
    }

    .toggle-content {
      display: none;
      padding: 10px;
      margin-top: 10px;
    }
    .Area-choice {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .Area-choice input {
      transform: scale(1.8); 
      margin-right: 8px;
    }
    .Area-choice label {
      font-size: 24px;
    }
    .Zone-choice label, .Pond-choice label {
      font-size: 20px;
    } 
    .Zone-choice select, .Pond-choice select {
      padding: 6px 12px;
      background: linear-gradient(to bottom, #ffff99 0%, #ffff66 100%);
      border: none;
      border-radius: 10px;
      margin: 0 0 0 10px;
      outline: none;
    }
    #progress, #errors {
        display: none;
    }
    #progressContainer {
        width: 100%; 
        background-color: #eaeaea; 
        border-radius: 10px;
        margin-right: 20px;
    }
    #progressBar {
        width: 0%; 
        height: 30px; 
        background: linear-gradient(to bottom, #00cc66 0%, #00cc00 100%); 
        border-radius: 10px;
        transition: all ease 0.2s;
    }
    #table {
        max-height: 400px; 
        overflow-y: auto;    
        overflow-x: auto;    
        display: block;    
    }
    #table table td, #table table th {
      padding: 12px 15px;
      white-space: normal;
      word-wrap: break-word;
      vertical-align: top;
      max-width: 200px;
      text-align: center;
    }
    #table table {
        border-color: black; 
    }
    .flash {
        padding: 12px 10px;
        border-radius: 6px;
        text-align: center;
        font-weight: bold;
    }
    .flash.success {
        background-color: #aaf0ba;
        color: #236f35;
        border: 1px solid #087622;
    }
    .flash.error {
        background-color: #ffbfbf;
        color: #a10817;
        border: 1px solid #823333;
    }
    .flash.notification {
        background: rgb(255, 255, 214);
        color: #b3b300;
        font-size: 18px;
    }

.container {
    padding: 10px;
    display: flex;
    justify-content: center;
    background: transparent;
}

.shape {
  background: linear-gradient(to bottom, #ffff99 0%, #ffff66 100%);
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.main_Evap h3 {
  text-align: center;
  padding: 5px 0px;
}
.main_Evap {
  background: linear-gradient(to bottom, #ffcc66 0%, #ffcc66 100%); 
  display: flex;
  height: auto;
  width: auto;
  padding: 12px 30px 6px 30px;
  max-width: 400px;
  border: none;
  align-items: center; 
}
.main_Evap button {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  margin: 0 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background: linear-gradient(to bottom, #00c964 0%, #00a800 100%); 
  color: white;
  font-size: 18px;
}
.yearChoice {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
}
.yearChoice select {
      padding: 6px 12px;
      background: linear-gradient(to bottom, #ffff99 0%, #ffff66 100%);
      border: none;
      border-radius: 10px;
      margin: 7px;
      outline: none;
}
.category {
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}
.category input {
  transform: scale(1.6);
  margin: 0 8px 0 15px;
}
.initial-concentration, 
.daysChoice {
  text-align: center;
}
.initial-concentration input, 
.daysChoice input {
  padding: 8px;
  padding-left: 25px;
  border: 1px solid black;
  outline: none;
  border-radius: 13px;
  width: auto;
}
.init_input {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.in-out {
  padding: 8px;
  padding-left: 15px;
  border: 1px solid black;
  outline: none;
  border-radius: 13px;
  width: 60px;
}
.initial-concentration select, .daysChoice select, .typeChoice select {
  padding: 4px 10px;
  background: linear-gradient(to bottom, #ffff99 0%, #ffff66 100%);
  border: none;
  border-radius: 9px;
  outline: none;
}
.unit-select {
  display: flex; 
  justify-content: center; 
  align-items: baseline;
  margin: 8px; 
  text-align: center;
}
#selectedName {
  margin-top: 10px; 
  font-size: 22px; 
  font-weight: bold; 
  text-align: center; 
  display: none;
  color: #0a651f;
  border: 2px solid #0a651f;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: auto;
  padding-right: auto;
  background-color: #aaf0ba;
}

.nav-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.form-in, .form-out {
  width: 83%;
}
.form-in-out {
  display: flex; 
  align-items: center;
  flex-direction: column;
}
.form-control:focus {
    border: none !important;
    box-shadow: none !important;
}
    .btn_DC {
        padding: 6px 10px;
        border: none;
        border-radius: 10px;
        background: rgb(56, 104, 187);
        color: white;
        text-decoration: none;
        transition: all ease 0.2s;
        margin: 10px 0 0 0;
    }
    .btn_DC:hover {
        background: rgb(65, 124, 228);
        color: white;
    }

.nav-btn-sm {
  display: none;
}

@media (max-width: 1089px) {
  #optionA, #optionB {
    text-align: center; 
  }
  #optionA select, #optionB select {
    margin: 0 !important;
    margin-top: 10px !important;
  }
}

@media (max-width: 1107px) {
  .Pond-choice {  
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

@media (max-width: 880px) {
  body,h1,h5,p,a,select,label,button,input, .btn, .form-control {
    text-wrap: balance;
    text-align: center;
  }
  .Area-choice {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .Area-choice label {
    padding: 5px; 
  }
  .Pond-choice {
    display: block;
  }
  .form-in, .form-out {
    text-wrap: revert !important;
  }
  .radiozone {
    font-size: 32px;
    font-weight: bold;
  }
  .radiopond {
    font-size: 32px;
    font-weight: bold;
    padding-left: 20px !important;
  }
  .Area-choice #optionA, .Area-choice #optionB {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  .Area-choice input {
    transform: scale(1.4);
    margin-right: 8px;
  }
  .category input {
    transform: scale(1.4);
    margin: 0 8px 0 15px;
  }
  h3 {
    padding-bottom: 10px;
  }
  .Area-choice {
    margin-top: 10px;
  }
  .initial-concentration input {
    padding-left: 0;
  }
  .nav-btn {
    display: none;
  }
  .nav-btn-sm {
    display: block;
    margin-top: 20px;
  }
  .entire {
    display: block;
  }
  .input-section {
    display: flex;
    width: auto;
    justify-content: center;
  }
  .output-section {
    width: auto;
    margin-left: 20px;
    padding: 20px 20px 20px 20px;
  }
  .shape {
    padding: 10px 0 10px 10px;
  }
  .main_Evap {
    display: block;
    width: 97%;
  }
  h5 {
    font-size: 18px;
  }
  .nav_btn {
    font-size: 14px;
  }
  label {
    font-size: 16px !important;
  }
}   

@media (max-width: 353px) {
  body,h1,h2,h3,h4,h5,p {
    font-size: 99%;
    text-wrap: balance;
    text-align: center;
  }
  a,select,label,button,input,.btn,.form-control {
    font-size: 97%;
    text-wrap: balance;
    text-align: center;
  }
  input {
    text-wrap: none;
  }
}